@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: auto;
  color: rgb(var(--foreground-rgb));
  background: black;
  margin: 10;
  padding: 20;
}

/* Hide scrollbar for Chrome, Safari and newer versions of Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}
